.creatingPostContainer {
  max-width: var(--max-width-content);
  margin: var(--margin-default);
  padding: var(--create-post-container-padding);
}

.creatingPostHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.createPostFormLivePreviewContainer {
  display: flex;
  max-width: var(--max-width-page);
}

.formContainer {
  max-width: var(--form-container-create-post-width);
  margin: 0 auto;
  width: var(--submit-comment-textarea-width);
  margin-top: var(--article-category-margin-top);
}

.createPostForm {
  display: flex;
  flex-direction: column;
  margin-right: var(--form-container-create-post-margin-right);
  gap: var(--flex-gap);
}

.formWrapper {
  display: flex;
  flex-direction: column;
}

.formWrapperCheckbox {
  display: flex;
  gap: var(--greeting-user-gap);
}

input,
button,
select {
  padding: var(--input-padding);
}

textarea {
  min-height: var(--submit-comment-min-height);
  max-height: var(--submit-comment-max-height);
  resize: vertical;
}

.livePreviewContainer {
  margin: var(--margin-default);
  margin-top: var(--article-category-margin-top);
}
